* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
}
html,
body,
#page {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 14px;
    height: 100%;
    width: 100%;
}
.table {
    display: table;
    vertical-align: middle;
}
.table-row {
    display: table-row;
    vertical-align: middle;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
#page {
    background: rgba(0,0,0,0.56);
}
#page-row {
    height: 100%;
    width: 100%;
}
#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 79%;
    overflow: scroll;
    padding: 42px;
    margin-left: 20%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}
#canvas-table,
#canvas-row,
#canvas-cell {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
#tools {
    position: fixed;
    width: 20%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.8);
    box-shadow: 9px 0px 7px -4px rgba(0,0,0,0.26);
}
.tools-group {
    margin: 42px auto;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
    padding: 12px;
    width: 92px;
}
.tile { 
    display: inline-block;
    font-size: 0;
    padding: 3px 6px;
}
.tile img {
    border: solid 1px #111;
}
#grid-size input[type="text"] {
    width: 2em;
    text-align: center;
    display: block;
    float: left;
    clear: both;
}
#grid-size input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 6px;
}
#grid-size label {
    margin: 2px 0 0 2.3em;
    display: block;
}
#scene {
    margin: auto;
}
.grid {
    font-size: 0;
    border-collapse: collapse;
    margin: auto;
}
.grid-cell {
    border: solid thin rgba(255,255,255,0.16);
}
.grid-cell img {
    -webkit-user-drag: none;
    -moz-user-select: none; 
    user-drag: none; 
}
#active-tools {
    text-align: center;
    font-size: 0;
}
#active-tile img {
    width: 80%;
    margin: 10%;
    border: solid thin #eee;
}
