* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;  
    margin: 0;
    padding: 0;
}
html,
body,
#page {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 14px;
    height: 100%;
    width: 100%;
}
.table {
    display: table;
    vertical-align: middle;
}
.table-row {
    display: table-row;
    vertical-align: middle;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
#page {
    background: rgba(0,0,0,0.56);
}
#page-row {
    height: 100%;
    width: 100%;
}
#canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 42px 0 42px 197px;
    margin-left: 0%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: default;
}
#canvas-table,
#canvas-row,
#canvas-cell {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}
#tools {
    position: fixed;
    width: 197px;
    height: 100%;
    left: 0;
    top: 0;
    background: #ddd;
    box-shadow: 9px 0px 7px -4px rgba(0,0,0,0.26);
    z-index: 10;
}
.tools-group {
    margin: 42px auto;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
    padding: 12px;
    width: 92px;
}
.tile { 
    display: inline-block;
    font-size: 0;
    padding: 3px 6px;
}
.tile img {
    border: solid 1px #111;
    width: 32px;
    height: auto;
}
#grid-size input[type="text"] {
    width: 2em;
    text-align: center;
    display: block;
    float: left;
    clear: both;
}
#grid-size input[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 6px;
}
#grid-size label {
    margin: 0 0 4px 2.3em;
    display: block;
}
#scene {
    margin: auto 81px;
}
.grid {
    font-size: 0;
    border-collapse: collapse;
    margin: auto;
    border: solid 2px rgba(255,255,255,0.16);
}
.grid-cell {
    position: relative;
    outline: solid thin #999;
    
}
.no-borders .grid-cell {
    outline: none;
}
.grid-cell img {
    -webkit-user-drag: none;
    -moz-user-select: none; 
    user-drag: none; 
    position: absolute;
    top: 0;
    left: 0;
}
.grid img {
    
}
#active-tools {
    text-align: center;
    font-size: 0;
}
#active-tile img {
    width: 80%;
    margin: 10%;
    border: solid thin #eee;
}
#display-options {
    text-align: center;
}
#zoom-text {
    width: 3.6em;
    display: block;
    margin: auto;
    padding: 2px 0 2px 3px
}
input[name="borders"] {
    margin-top: 12px;
}
#file button {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 2px;
    margin-top: 9px
}
#file #new-grid {
    margin-top: 0;
}
#toggle-save-data {
    position: absolute;
    bottom: 7px;
    font-size: 13px;
    cursor: pointer;
    color: #3288e6;
}
input[name="filename"] {
    display: block;
    padding: 7px 3px;
    width: 100%;
    font-size: 15px;
    margin-top: 17px;
    border: solid 1px #ccc;
}
label[for="filename"] {
    font-size: 13px;
    color: #999;
    margin-left: 4px;
}
#save-data {
    border: solid 1px #ccc;
    margin-top: 16px;
}
label[for="load-file"] {
    font-size: 13px;
    color: #999;
    margin-left: 4px;
    display: block;
}